body{
    font: normal 18px sans-serif;
    display: flex;
    justify-content: center;
}

.container{
    height: 500px;
    width: 350px;
    border: 2px solid black;
    border-radius: 15px;
    /*box-shadow: 0px 0px 0px 8px rgb(0, 0, 0, .5);*/
    display: grid;
    justify-content: center;
    padding: 10px;
}

.container_operadores{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.Number{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 230px;
    height: 250px;
}

.container_number{
    display: flex;
}

input{
    width: 65px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #dadada;
}

.operadores{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 250px;
}
#operation{
    width: 46px;
    height: 36px;
    border: 2px solid rgb(77, 76, 76);
    border-radius: 5px;
    background-color: #dadada;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#resposta{
    width: 275px;
    height: 80px;
    border: 2px solid black;
    border-radius: 5px;
    align-self: center;
    
}

div.button {
    background-color: #dadada;
    cursor: pointer;
    border-radius: 50%;
    width: 46px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    font-weight: bold;
    font-size: 15px;
    border: 2px solid black;
    margin-top: 60px;
    margin-left: 15px;
    
}

div#off{
    width: 5px;
    height: 5px;
    border: 1px solid rgb(0, 0, 0, .75);
    border-radius: 50%;
    margin-left: 5px;
    background-color: black;
}
